@import 'colors';

.advantages {
  background-color: $light-gray;
	padding: 30px 0;
	text-align: center;
	h2 {
		padding: 0 40px;
		margin-bottom: 22px;
	}
	&-img {
		margin: 0 auto 27px;
		img {
			width: 280px;
			height: auto;
		}
	}
	p, ul {
		text-align: left;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: -0.1px;
		font-weight: 300;
	}
	p {
		margin: 0 0 10px;
	}
	ul {
		margin-top: 18px;
		li {
			position: relative;
			padding-left: 21px;
			list-style: none;
			padding-bottom: 12px;
			&:before {
				content: '';
				position: absolute;
				top: 7px;
    		left: 8px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $green;
			}
		}
	}
	.button {
		margin-top: 24px;
	}
}

@media (min-width: 768px) {
	.advantages {
		padding: 30px 0 36px;
		h2 {
			font-size: 28px;
			line-height: 28px;
			max-width: 290px;
    	margin: 8px auto 37px;
		}
		&-info {
			display: flex;
			max-width: 906px;
			margin: 0 auto;
		}
		&-img {
			img {
				width: 377px;
				margin-right: 70px;
			}
		}
		&-description {
			padding-top: 40px;
			text-align: left;
		}
		ul {
			margin-top: 26px;
			margin-bottom: 5px;
			li {
				&:before {
					top: 9px;
    			left: 3px;
				}
			}
		}
		.button {
			margin-top: 21px;
		}
	}
}