@import 'colors';

.customize {
	background-color: $light-gray;
	padding: 63px 0 40px;
	text-align: center;
	h2 {
		font-size: 32px;
		line-height: 36px;
		letter-spacing: -0.4px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.gif {
		height: 400px;
	}
}