@import 'colors';

.footer {
  background-color: $light-gray;
	padding: 26px 0;
  text-align: center;
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    a {
      display: inline-block;
      margin-bottom: 16px;
    }
  }
  span {
    font-size: 11px;
    line-height: 16px;
    color: #BEC1C4;
  }
}

@media (min-width: 768px) {
  .footer {
    &-inner {
      display: flex;
      justify-content: space-between;
    }
    nav {
      order: 2;
      flex-direction: row;
      a {
        margin: 0 0 0 24px;
        text-decoration: none;
      }
      a, span {
        font-size: 11px;
        line-height: 16px;
        color: $medium-gray;
      }
    }
  }
}