@import 'colors';

.header {
	background-color: $dark-green;
	height: 100vh;
	position: relative;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	&-inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 344px;
		margin: 0 auto 107px;
		z-index: 2;
	}
	.brand-logo {
		margin-bottom: 13px;
	}
	small {
		padding: 0 22px;
		opacity: .78;
	}
	.button {
		padding: 16px 14px;
		margin-top: 24px;
	}
	.scroll-down {
		position: absolute;
		cursor: pointer;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		width: 24px;
		height: 24px;
		z-index: 2;
	}
	.olives,
	.spoon,
	.spices,
	.coffee {
		position: absolute;
		z-index: 1;
		img {
			width: 100%;
			height: auto;
		}
	}
	.olives {
		top: 0;
		right: 0;
		width: 68.8vw;
		min-width: 258px;
		// max-width: 656px;
		height: 212px;
	}
	.spoon {
		left: 0px;
		bottom: -87px;
		width: 41.86vw;
		min-width: 157px;
		// max-width: 510px;
    height: 300px;
	}
	.spices,
	.coffee {
		display: none;
	}
}

@media (min-width: 768px) {
	.header {
		.spices {
			left: 0;
			top: 0;
			width: 366px;
			height: 262px;
		}
		.coffee {
			right: 0;
			bottom: 0;
			width: 152px;
			height: 154px;
		}
		// .spices,
		// .coffee {
		// 	display: block;
		// }
	}
}
