@import 'colors';

.how-it-works {
	padding: 28px 0 7px;
	text-align: center;
	.step {
		padding: 40px 32px;
		margin-bottom: 24px;
		border-radius: 8px;
		&.only-chef {
			margin-bottom: 16px;
		}
		&-img {
			margin: 17px 0 12px;
		}
		&-title {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 18px;
		}
		&-text {
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: -0.1px;
			color: $medium-gray;
		}
	}
}

@media (min-width: 768px) {
	.how-it-works {
		padding: 31px 0 37px;
		h2 {
			font-size: 28px;
			margin-bottom: 25px;
		}
		.step-wrap {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 24px;
		}
		.step {
			padding: 40px 32px 10px;
		}
	}
}

@media (min-width: 1200px) {
	.how-it-works {
		.step-wrap {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}