@import 'colors';

.ready-to-pick {
	position: relative;
	background-color: $dark-green;
	padding: 80px 0 95px;
	text-align: center;
	overflow: hidden;
	&-inner {
		position: relative;
	}
	h2 {
		color: $white;
		font-size: 24px;
		max-width: 254px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 24px;
	}
	.button {
		padding: 16px 29px;
	}
	.fork,
	.spoon {
		position: absolute;
		z-index: 1;
		img {
			width: 100%;
			height: auto;
		}
	}
	.fork {
		top: -6px;
		right: -114px;
		width: 64.53vw;
    min-width: 242px;
		max-width: 288px;
		height: 35.46vw;
	}
	.spoon {
		left: -114px;
    bottom: -168px;
    width: 41.86vw;
    min-width: 257px;
    max-width: 322px;
    height: 300px;
	}
}

@media (min-width: 768px) {
	.ready-to-pick {
		padding: 60px 0 65px;
	}
}

@media (min-width: 992px) {
	.ready-to-pick {
		h2 {
			line-height: 28px;
			max-width: 404px;
		}
		.fork {
			top: -3px;
			right: -4px;
		}
		.spoon {
			left: 46px;
    	bottom: -113px;
		}
	}
}

