h1 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.3px;
  font-weight: 700;
  margin: 24px 0;
}

h2 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.3px;
  font-weight: 500;
  margin: 8px 0 32px;
}

small {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 72px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: #252728;
  overflow-x: hidden;
}

.container {
  margin: 0 16px;
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 600 !important;
}

a {
  font-size: 11px;
  line-height: 16px;
  color: #252728;
}

p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 300;
  margin: 0 0 10px;
}

.button {
  position: relative;
  display: inline-block;
  background-color: #34A34F;
  color: #ffffff;
  border-radius: 32px;
  padding: 16px 36px;
  overflow: hidden;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
}
.button span {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.button:before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(34, 137, 59, 0.2) 100%), #34A34F;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  top: 0;
  left: 0;
  opacity: 0;
}
.button:hover {
  box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.16), inset 0px 1px 0px #6CC782;
}
.button:hover:before {
  opacity: 1;
}

.only-chef {
  position: relative;
  border: 1px solid #34A34F !important;
  box-shadow: 0px 2px 6px rgba(1, 48, 36, 0.07) !important;
}
.only-chef:before {
  content: "";
  position: absolute;
  top: -9px;
  left: 6px;
  background-image: url("../icons/chef_only.svg");
  width: 71px;
  height: 75px;
}
.only-chef:after {
  content: "";
  position: absolute;
  top: 47px;
  left: 13px;
  background-color: #34A34F;
  width: 59px;
  height: 2px;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }
}
.sticky {
  position: fixed;
  bottom: 40px !important;
  z-index: 10000;
}

.header {
  background-color: #013024;
  height: 100vh;
  position: relative;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 344px;
  margin: 90px auto 0;
  z-index: 2;
}
.header .brand-logo {
  margin-bottom: 13px;
  margin-left: 8px;
}
.header small {
  padding: 0 22px;
  opacity: 0.78;
}
.header .main-cta {
  bottom: 0;
  transition: bottom 0.2s ease-in;
}
.header .button {
  padding: 16px 24px;
  margin-top: 24px;
}
.header .scroll-down {
  position: absolute;
  cursor: pointer;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}
.header .scroll-down span {
  position: absolute;
  white-space: nowrap;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  opacity: 0.87;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.header .scroll-down img {
  width: 24px;
  height: 24px;
}
.header .courses,
.header .cutlery,
.header .spices {
  position: absolute;
  z-index: 1;
}
.header .courses img,
.header .cutlery img,
.header .spices img {
  width: 100%;
  height: auto;
}
.header .courses {
  top: -9px;
  right: -17px;
  width: 64vw;
  min-width: 240px;
  max-width: 426px;
  height: 212px;
}
.header .cutlery {
  left: -144px;
  bottom: -112px;
  width: 79.73vw;
  min-width: 299px;
  max-width: 526px;
  height: 300px;
}
.header .spices {
  display: none;
}

@media (min-width: 768px) {
  .header-inner {
    margin-top: -50px;
    max-width: 410px;
  }
  .header .brand-logo img {
    width: 182px;
    height: 76px;
  }
  .header h1 {
    font-size: 60px;
    line-height: 72px;
    white-space: nowrap;
  }
  .header small {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .header .courses {
    right: -3px;
    top: -7px;
  }
  .header .cutlery {
    left: -194px;
    bottom: -22px;
  }
  .header .spices {
    left: -65px;
    top: 0;
    width: 366px;
    height: 262px;
  }
  .header .spices {
    display: block;
  }
}
@media (min-width: 768px) and (min-height: 645px) {
  .header {
    height: 645px;
  }
}
.why-choose {
  padding: 32px 0 8px;
  text-align: center;
}
.why-choose .reason {
  padding: 40px 23px 38px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 6px rgba(1, 48, 36, 0.07);
  border-radius: 8px;
  margin-bottom: 24px;
  max-height: 1000px;
}
.why-choose h4 {
  margin: 12px 0 24px;
}
.why-choose p {
  line-height: 20px;
  margin-bottom: 27px;
}
.why-choose ul {
  position: relative;
  text-align: left;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.why-choose ul li {
  position: relative;
  list-style: none;
  padding-left: 40px;
  padding-bottom: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}
.why-choose ul li:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background: url("../icons/checked.svg");
}
.why-choose ul li:last-child {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .why-choose .reason.closed ul {
    display: none;
  }
  .why-choose .reason.closed .reason-info > p:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .why-choose {
    padding: 32px 0 29px;
  }
  .why-choose .reason-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .why-choose .reason {
    margin-bottom: 0;
    max-height: 1000px !important;
  }
}
@media (min-width: 1200px) {
  .why-choose .reason-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
.customize {
  position: relative;
}
.customize > div img {
  width: 100%;
  height: auto;
}

.proposal {
  padding: 32px 0;
  text-align: center;
}
.proposal .meal-gallery {
  padding: 0;
  margin: 0 auto 24px;
  column-count: 2;
  column-gap: 8px;
  max-width: 678px;
}
.proposal .meal {
  display: inline-block;
  background: #fff;
  margin: 0 0 4px;
  width: 100%;
}
.proposal .meal img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .proposal .meal-gallery {
    column-count: 3;
    column-gap: 21px;
    max-width: 728px;
    margin: 0 auto 4px;
  }
  .proposal .meal {
    margin: 0 0 21px;
  }
}
.advantages {
  background-color: #F5F6F7;
  padding: 30px 0;
  text-align: center;
}
.advantages h2 {
  padding: 0 40px;
  margin-bottom: 22px;
}
.advantages-img {
  margin: 0 auto 27px;
}
.advantages-img img {
  width: 280px;
  height: auto;
}
.advantages p, .advantages ul {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 300;
}
.advantages p {
  margin: 0 0 10px;
}
.advantages ul {
  margin-top: 18px;
}
.advantages ul li {
  position: relative;
  padding-left: 21px;
  list-style: none;
  padding-bottom: 12px;
}
.advantages ul li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #34A34F;
}
.advantages .button {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .advantages {
    padding: 30px 0 36px;
  }
  .advantages h2 {
    font-size: 28px;
    line-height: 28px;
    max-width: 290px;
    margin: 8px auto 37px;
  }
  .advantages-info {
    display: flex;
    max-width: 906px;
    margin: 0 auto;
  }
  .advantages-img img {
    width: 377px;
    margin-right: 70px;
  }
  .advantages-description {
    padding-top: 40px;
    text-align: left;
  }
  .advantages ul {
    margin-top: 26px;
    margin-bottom: 5px;
  }
  .advantages ul li:before {
    top: 9px;
    left: 3px;
  }
  .advantages .button {
    margin-top: 21px;
  }
}
.how-it-works {
  padding: 28px 0 7px;
  text-align: center;
}
.how-it-works .step {
  padding: 40px 32px;
  margin-bottom: 24px;
  border-radius: 8px;
}
.how-it-works .step.only-chef {
  margin-bottom: 16px;
}
.how-it-works .step-img {
  margin: 17px 0 12px;
}
.how-it-works .step-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 18px;
}
.how-it-works .step-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #87898C;
}

@media (min-width: 768px) {
  .how-it-works {
    padding: 31px 0 37px;
  }
  .how-it-works h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .how-it-works .step-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .how-it-works .step {
    padding: 40px 32px 10px;
  }
}
@media (min-width: 1200px) {
  .how-it-works .step-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
}
.ready-to-pick {
  position: relative;
  background-color: #013024;
  padding: 80px 0 95px;
  text-align: center;
  overflow: hidden;
}
.ready-to-pick-inner {
  position: relative;
}
.ready-to-pick h2 {
  color: #ffffff;
  font-size: 24px;
  max-width: 254px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.ready-to-pick .button {
  padding: 16px 29px;
}
.ready-to-pick .fork,
.ready-to-pick .spoon {
  position: absolute;
  z-index: 1;
}
.ready-to-pick .fork img,
.ready-to-pick .spoon img {
  width: 100%;
  height: auto;
}
.ready-to-pick .fork {
  top: -6px;
  right: -114px;
  width: 64.53vw;
  min-width: 242px;
  max-width: 288px;
  height: 35.46vw;
}
.ready-to-pick .spoon {
  left: -114px;
  bottom: -168px;
  width: 41.86vw;
  min-width: 257px;
  max-width: 322px;
  height: 300px;
}

@media (min-width: 768px) {
  .ready-to-pick {
    padding: 60px 0 65px;
  }
}
@media (min-width: 992px) {
  .ready-to-pick h2 {
    line-height: 28px;
    max-width: 404px;
  }
  .ready-to-pick .fork {
    top: -3px;
    right: -4px;
  }
  .ready-to-pick .spoon {
    left: 46px;
    bottom: -113px;
  }
}
.footer {
  background-color: #F5F6F7;
  padding: 26px 0;
  text-align: center;
}
.footer nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.footer nav a {
  display: inline-block;
  margin-bottom: 16px;
}
.footer span {
  font-size: 11px;
  line-height: 16px;
  color: #BEC1C4;
}

@media (min-width: 768px) {
  .footer-inner {
    display: flex;
    justify-content: space-between;
  }
  .footer nav {
    order: 2;
    flex-direction: row;
  }
  .footer nav a {
    margin: 0 0 0 24px;
    text-decoration: none;
  }
  .footer nav a, .footer nav span {
    font-size: 11px;
    line-height: 16px;
    color: #87898C;
  }
}